<div class="container">
  <div class="row signin-wrapper">
    <div class="col-xs-12 col-md-6 mr-auto">
      <h1>Sliked</h1>
      <small>Start your day writing a blog</small>
      <br>
      <p>Raclette etsy activated charcoal, typewriter organic tbh kale chips freegan hot chicken drinking vinegar tumblr occupy. PBR&B snackwave pug, blue bottle fixie asymmetrical fam hot chicken ramps. </p>
    </div>
    <div class="col-xs-12 col-md-5">
      <%= form_for @post, html: { multipart: true } do |f| %>
      <div class="form-group">
          <%= f.label :postimage, required: true %>
          <%= f.file_field :postimage %>
      </div>
      <div class="form-group">
          <%= f.label :Title, required: true %>
          <%= f.text_field :name, class: "form-control", placeholder: "Title"%>
      </div>
      <div class="form-group">
          <%= f.label :description, required: true %>
          <%= f.text_area :description, class: "form-control", rows: "10", placeholder: "Tell us something..."%>
      </div>
      <%= f.submit class: "btn btn-primary float-right", value: "Submit" %>
      <% end %>
    </div>
  </div>
</div>