<header class="humbotron-user-info text-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-md-3">
        <div class="row">
          <div class="container pt-2">
            <small class="d-block lead text-sm-left text-xs-center"><%= @post.user.name %></small>
          </div>
          <div class="col justify-content-center">
            <div class="circle d-block"></div>
          </div>  
          <div class="col pt-3">
            <div class="d-block text-left">Follow</div>
            <small class="d-block text-left">Web Developer</small>
            <small class="d-block text-sm-left text-xs-center text-muted">NY, New York</small>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-9 d-flex">
        <div class="row mt-2">
          <div class="sm-box">
            <p class="text-muted">Likes</p>
            <hr>
            <p>12378</p>
          </div>
          <div class="sm-box">
              <p class="text-muted">Posts</p>
              <hr>
              <p>12378</p>
            </div>
          <div class="sm-box">
              <p class="text-muted">Follower</p>
              <hr>
              <p>12378</p>
          </div>
          <div class="sm-box">
            <p class="text-muted">Following</p>
            <hr>
            <p>12378</p>
          </div>
          <div class="sm-box">
            <p class="text-muted">Dislikes</p>
            <hr>
            <p>12378</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
<h2 class="text-center"><%= @post.name %></h2>
<div class="row justify-content-center">
  <div class="col-xs-6 like-views float-left"><small>LIKE 12937</small></div>
  <div class="col-xs-6 like-views float-right"><small>LIKE 12937</small></div>
</div>

</div>


<div class="container">
  <div class="row post-single">
    <div class="col-xs-12 col-md-6">
      <div class="card">
        <%= image_tag @post.postimage.url, class: "img-fluid mx-auto" %>
        <div class="card-body">
          <p class="card-text"><%= @post.description %></p>
          <div class=" d-flex justify-content-between">
            <small>Posted September 10, 1983</small>
            <small>Like | Dislike</small>
          </div>
          <br>
          <form>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Comment</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
              <button type="submit" class="btn btn-primary float-right btn-sm">Submit</button>
              <small>160</small>
              <div class="row">
                <% if current_user %>
                  <div class="flex-end">
                    <%= link_to "edit", edit_post_path(@post) %>
                    <%= link_to "delete", post_path(@post), method: :delete %>
                  </div>
                <% end %>
              </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-5">
      <div class="card">
        <div class="card-body">
          <p class="card-title text-center">Comments</p>
          <div class="row">
            <div class="col-2">IMG</div>
            <div class="col-10">
              <small>With supporting text below as a natural lead-in to additional content.</small>
            </div>
          </div>
          <div class="row">
            <div class="col-2">IMG</div>
            <div class="col-10">
              <small>With supporting text below as a natural lead-in to additional content.</small>
            </div>
          </div>
          <div class="row">
            <div class="col-2">IMG</div>
            <div class="col-10">
              <small>With supporting text below as a natural lead-in to additional content.</small>
            </div>
          </div>
          <div class="row">
            <div class="col-2">IMG</div>
            <div class="col-10">
              <small>With supporting text below as a natural lead-in to additional content.</small>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>