<!DOCTYPE html>
<html>
  <head>
    <title>Sliked</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <%= render "partials/nav_user" %>
    <% else %>
    <%= render "partials/nav" %>
    <% end %>
      <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
